* {
   
}

body { 
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f2f4f8;
    color: #333;
    line-height: 1.6;
}

main {
    display: flex;
    flex-direction: column;
}

.container {
    padding: 0;
    margin: 0;
}

nav ul, footer ul { 
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    max-height: fit-content;
    line-height: 1;
}

nav ul li, footer ul li { 
    float: left;
}

nav ul li a, footer ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 12px 16px;
    text-decoration: none;
}

nav ul li a:hover, footer ul li a:hover {
    background-color: #66a;
}

h1{ 
    font-size: 1.8em;
    font-weight: bold;
    text-align: center;
}

article {
    padding: 10px;
}

ul { 
    list-style: none;
}

.apropos {
    text-align: center;
}

.menu {
    padding: 7px 0;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.7);
}

.howitworks {
    text-align: center;
}

.contactform {
    width: 50%;
}

